body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.ASH{
    color: purple;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width image{
    width: 50%;
}
.link-button{
    text-decoration: none;
 background-color: turquoise;
 background-image: -moz-linear-gradient(purple white);
 font-weight: 700;
    padding: 05px 20px;
    border-radius: 8px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-width image{
    width: 50%;
}
.half-width{
    width: 52%;
    padding-left: 5%;

}
.link-button{
    text-decoration: none;
    background-color:purple turquoise ;
    font-weight: 700;
    border-radius: 15px;
    
}
.mid-night{
    color: orange
}
.font-color{
    color: purple;
}
.experience-item{
   width: 40%;
   margin-left: 5%;
   margin-right:5%;
   padding-left: 10px;
    box-shadow: 10px 10px  40px purple;
    
}
.xaraf-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
   border-image-slice: 1;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(purple,tomato);
   border-image-slice: 1;
}
footer p{
    text-align: center;
}
h2{
    font-size: 30px;
}